<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>QUIZ WIZ</title>
    <!-- External CSS -->

    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->


    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/event-handlers.js"></script>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>QUIZ WIZ</span>
      <div class="create-quiz">
        <p>Create your own QUIZ</p>
      </div>
    </nav>
    <!-- Header with logo/avatar  -->
    <header>
      <div class ="main-image">
        <!-- Insert logo or avatar here -->
    </div>
    <br>
    <div>
        <h2>Welcome to</h2>
        <h2>QUIZ WIZ</h2>
    </div>
    </header>
   <!-- Page-specific (main) content here -->
   <main>
     <h3>Test your knowledge or test your friends</h3>

     <!-- Create quiz form (normally hidden) -->
    <section class="new-quiz">
      <h3>Make your own public or private QUIZ</h3>
      <form>
        <div class="error">
          <p class="error-message">error</p>
        </div>
        <label for="title">Title: </label>
        <input type="text" name="title">
        <label for="category">Category: </label>
        <input type="text" name="category">
        <br>
        <label for="question">Question: </label>
        <input type="text" name="question">
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
        <br>
        <label for="question">Question: </label>
        <input type="text" name="question">
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
        <br>
        <label for="question">Question: </label>
        <input type="text" name="question">
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
        <br>
        <label for="question">Question: </label>
        <input type="text" name="question">
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
        <br>
        <label for="question">Question: </label>
        <input type="text" name="question">
        <label for="answer">Answer: </label>
        <input type="text" name="answer">
        <br>
        <label for="is-private">Keep my quiz private</label>
        <input type="checkbox" name="is-private">
        <br>
        <button class="button" type="submit">Submit</button>
      </form>
    </section>

    <!-- Latest quizzes appended here  -->
    <section class="public-quizzes-container">
      <article class="quiz">
        <header>
          <h3>Title</h3>
          <h3>Category</h3>
        </header>
        <div class="quiz-form">
          <form>
            <ol class="quiz-questions">
              <li>
                <label for="quiz-question">This is a quiz question </label>
                <input type="text" name="quiz-question">
              </li>
              <li>
                <label for="quiz-question">This is a quiz question </label>
                <input type="text" name="quiz-question">
              </li>
            </ol>
            <br>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
      </article>
    </section>
   </main>
   <footer class="site-footer">Created by DBM for Lighthouse Labs</footer>
  </body>
</html>
