<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <title>Login or Register</title>
    <!-- External CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login-form.css" type="text/css" />

    <!-- External JS -->


    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script type="text/javascript" src="/scripts/event-handlers.js"></script>
  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>QUIZ WIZ</span>
    </nav>
    <!-- Header with logo/avatar  -->
    <header class="main-header">
      <div class="main-image">
        <img src="https://images.pexels.com/photos/6266316/pexels-photo-6266316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
    <br>
    <div class="welcome-message">
        <h2>Login or Register for</h2>
        <h2>QUIZ WIZ</h2>
    </div>
    </header>
   <!-- Page-specific (main) content here -->
   <main>
     <div>
     <h2>Login</h2>
     <form class="login" method="POST" action="/login">
      <label for="login-email">Email: </label>
      <input type="email" name="email">
      <br>
      <label for="login-password">Password: </label>
      <input type="password" name="password">
      <br>
      <button class="login-btn" type="submit">Login</button>
     </form>
    </div>
    <div>
      <h2>Register</h2>
      <form class="register" method="POST" action="/register">
        <label for="register-email">Email: </label>
        <input type="email" name="email">
        <br>
        <label for="register-username">Username: </label>
        <input type="text" name="username">
        <br>
        <label for="register-password">Password: </label>
        <input type="password" name="password">
        <br>
        <button class="register" type="submit">Register</button>
      </form>
    </div>
  </main>
</body>
</html>
