.new-quiz {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;

  display: none;

  .error {
    display: none;
  }

  .create-form {
    border: rgb(49, 49, 49) 5px solid;
    padding: 7px;
    display: flex;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

    input {
      border: none;

    }
  }
}
