// See: https://sass-lang.com/

body {
  background-color: rgb(117, 177, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;


  main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 2em;
  }


  h1 {
    color: #244751;
  }
}
